<div class="m-2 p-3">
  <h5 class="title">Book now an incredible experience with new friends!</h5>
  <%= simple_form_for [@group, @booking] do |f| %>
    <%= f.input :date %>
    <%= f.input :hours_booked %>
    <%= f.association :group %>
    <%= f.submit "Book!", class: "btn btn-primary" %>
  <% end %>
</div>
