<div class="m-2 p-3">
  <h3 class="title">Create a booking below:</h3>
  <%= simple_form_for [@group, @booking] do |f| %>
    <%= f.input :date %>
    <%= f.input :hours_booked %>
    <%= f.association :group %>
    <%= f.submit "Book!", class: "btn btn-primary" %>
  <% end %>
</div>
