<br>
<div class="container-welcome text-center">
  <h2>Welcome back, <%= @user.first_name %> !</h2>
</div>
<div class="container-show-user">
  <div class="row">
    <div class="column">
      <div class="column-1">
          <div class="card-user-show justify-content-center">
            <div class="card-user-account-infos text-center">
              <%= cl_image_tag current_user.photo.key, id: "small-pic" %><br>
                <h2>Account Settings</h2>
                <p><strong> Name : </strong><%= @user.first_name %> <%= @user.last_name%></p>
                <p><strong> Email : </strong><%= @user.email%></p><br>
                <button-user class="btn btn-light"><%= link_to "Update Account Information", edit_user_registration_path %><button-user>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="column">
        <div class="column-2">
          <div class="card-user-show">
            <div class="card-user-show-infos">
              <h2>Your Groups</h2>
              <% @user.groups.each do |group| %>
              <ul><li><%= group.name %> - <%= group.size %> people - <%= group.event_type %><br>
              <button-user class="btn btn-light"><%= link_to "See Group", group_path(group) %></button-user>
              <button-user class="btn btn-light"><%= link_to "Delete", group_path(group), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button-user>
              </li></ul>
              <% end %>
            </div>
          </div>
          <div class="card-user-show">
            <div class="card-user-show-infos">
              <h2>Your Bookings</h2>
              <% @user.bookings.each do |booking| %>
              <ul><li><%= booking.group.event_type %> - <%= booking.group.name %> - <%= booking.date %><br>
              <button-user class="btn btn-light"><%= link_to "See Group", group_path(booking.group.id) %></button-user>
              <button-user class="btn btn-light"><%= link_to "Review",  edit_booking_path(booking.id) %></button-user>
              <button-user class="btn btn-light"><%= link_to "Cancel", booking, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button-user>
              </li></ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
