<br>
<br>
<h2>Welcome back, <%= @user.first_name %>!</h2>
<div class="container-show-user">
  <div class="row">
    <div class="column">
      <div class="column-1">
          <div class="card-user">
            <div class="card-user-account-infos">
            <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
            <%# <img src="..." class="card-img-top" alt="..."> %>
            <%# <%= cl_image_tag current_user.photo %>
                <h2>Account Settings</h2>
                <p><%= @user.first_name %> <%= @user.last_name%></p>
                <p><%= @user.email%></p>
                <button-user class="btn btn-light"><%= link_to "Update Account Information", edit_user_registration_path %><button-user>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="column">
        <div class="column-2">
          <div class="card-user">
            <div class="card-user-infos">
              <h2>Your Groups</h2>
              <% @user.groups.each do |group| %>
              <p><%= group.name %> -
              <button-user class="btn btn-light"><%= link_to "Details", group_path(group) %></button-user>
              <button-user class="btn btn-light"><%= link_to "Delete", group_path(group), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button-user>
              <% end %>
            </div>
          </div>
          <div class="card-user">
            <div class="card-user-infos">
              <h2>Your Bookings</h2>
              <% @user.bookings.each do |booking| %>
              <p>Event with: <%= booking.group.name %> - Date: <%= booking.date %> - <%= link_to "Delete", booking, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
