<div class="container-sm">
  <div class="cards">
    <% @groups.each do |group| %>
      <div class="card m-1">
      <% if group.photos.attached? %>
      <%= cl_image_tag group.photos[0].key %>
      <% else %>
        <img src="https://source.unsplash.com/collection/2706932/"/>
      <% end %>
        <div class="card-infos">
          <div>
            <h4 class="group-name"><%= link_to group.name, group_path(group) %></h4>
            <p class="event-type"><%= group.event_type %></p>
            <p class="group-description"><%= group.location%>  -  <%= group.size%> people</p>
          </div>
          <h2 class="card-pricing">€<%= group.hourly_rate.round %>/hour</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
