<div class="container">
  <div class="searchbar-container"><%= render "shared/searchbar" %></div><br>
    <div class="container md-5">
      <div class="row justify-content-center">
        <div class="col-sm">
          <a href="/groups?query=party&commit=Search">
          <i class="fa-solid fa-champagne-glasses"></i><br>
          <small>Party</small></i>
          </a>
        </div>
        <div class="col-sm">
          <a href="/groups?query=party&commit=Search">
          <i class="fa-solid fa-puzzle-piece"></i><br>
          <small>Chill & Games</small></i>
          </a>
        </div>
        <div class="col-sm">
          <a href="/groups?query=boozy+brunch&commit=Search">
          <i class="fa-solid fa-utensils"></i><br>
          <small>Boozy Brunch</small></i>
          </a>
        </div>
        <div class="col-sm">
          <a href="/groups?query=xxl+event&commit=Search">
          <i class="fa-solid fa-people-group"></i>
          <br><small>XXL Event</small></i>
          </a>
        </div>
        <div class="col-sm">
          <a href="/groups?query=go-with-the-flow&commit=Search">
          <i class="fa-brands fa-pagelines"></i>
          <br><small>Go-With-The-Flow</small></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container-sm">
    <div class="cards">
      <% @groups.each do |group| %>
      <%= link_to group_path(group), class:"text-decoration-none" do  %>
          <div class="card m-1">
          <% if group.photos.attached? %>
          <%= cl_image_tag group.photos[0].key %>
          <% else %>
            <img src="https://source.unsplash.com/collection/2706932/"/>
          <% end %>
          <div class="card-infos">
            <div>
              <h4 class="group-name"><%=group.name%></h4>
              <p class="event-type"><%= group.event_type %></p>
              <p class="group-description"><%= group.location%>  -  <%= group.size%> people</p>
            </div>
            <h2 class="card-pricing">€<%= group.hourly_rate.round %>/hour</h2>
            <% if group.user.photo.attached? %>
              <%= cl_image_tag group.user.photo.key, class: "card-user avatar-bordered"%>
            <% else %>
              <img src="https://source.unsplash.com/collection/gzUGvqgKHn0/" class="card-user avatar-bordered" />
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
