<div class="container-sm">
  <div class="cards">
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= @group.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= @group.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= @group.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= qgroup.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= @group.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= qgroup.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= @group.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
      <div class="card m-1">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <div>
            <h4><%= @group.name %></h4>
          </div>
          <h2 class="card-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    </div>
</div>
